.card {
  width: 100%;
  padding-bottom: 40px;
  height: 100%;
  border: none;
  background-color: transparent;

  &.card--not-full-height {
    height: auto;
  }
}

.verifiedTick {
  display: inline;
  width: 20px;
}

.card-body {
  padding: 10px;
  padding-left: 20px;
  height: 100%;
  border-radius: 5px;
  
  @include themify($themes) {
    background-color: themed('colorBackground');
  }
}
.card__titleMargin {
  margin-top: 20px;
}

.card__centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.card__link a{
  margin-left: 10px;
  font-size: 12px;
  text-decoration: underline;
  color: #2d9afb;
  
  &:hover  {
    color: darken(#4EAAFC, 20%);
  }
}

.card__sub a{
  margin-left: 20px;
  font-size: 8px;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 100px;
  border-width: 1.5px;
  border-color: #3D5170;
  color: #3D5170;
  border-style: solid;
  background-color: #fff;
  
  // a {
  //   color: #3D5170;
  // 
  //   &:hover {
  //     color: #fff;
  //   }
  // }
  
  &:hover {
    background-color: #3D5170;
    color: #fff;
  }
  
}

.card__title--row {
  display: flex;
  flex-direction: row;
}

.button{
  margin-left: 20px;
  display: inline;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  border-color: #3D5170;
  color: #3D5170;
  border-style: solid;
  padding: 4px 10px;
  border-radius: 5px;
  border-width: 1.5px;
  font-family: 'Open Sans', sans-serif;
  
  &:hover {
    background-color: #3D5170;
    color: #fff;
  }
}

.card__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  

  // &:not(:first-child) {
  //   margin-top: 0px;
  // }
  
  .subhead {
    text-transform: none;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.7;
    margin-top: 3px;
  }

  * {
    margin-bottom: 0;
  }

  h5 {
    font-size: 13px;
  }
}

.squared-corner-theme {

  .card-body {
    border-radius: 0;
  }
}

.blocks-with-shadow-theme {

  .card-body {
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.06);
  }
}