.dropdown {
  
  .dropdown-divider {
    margin: 0px;
  }
  
  .dropdown-item {
    paddingLeft: 5px; 
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  &:last-child .btn {
    margin-right: 15px;
  }

  .btn.icon svg {
    width: 20px;
    margin-right: -5px;
  }

  .btn-group {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    .btn {

      &:last-child {
        border-left: none;
        padding: 7px;

        svg {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

.dropdown__menu {
  width: 120px;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0px 0;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.05);
  font-size: 12px;
  
  @include themify($themes) {
    background: themed('colorBackground');
  }

  button {
    transition: all 0.3s;
    padding: 7px 24px;
    cursor: pointer;

    @include themify($themes) {
      color: themed('colorText');
    }

    &:hover {

      @include themify($themes) {
        background: themed('colorHover');
        color: themed('colorText');
      }
    }
  }

  button:focus, button:active, button:active:focus {
    outline: none;
  }

  .active button {
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-hover;
    }
  }
}