.profile-card {
  background-color: #fff;
  border-radius: 5px;
  h5 {
    padding-top: 15px;
  }
}

.table-heading {
  border-bottom-width: thin;
  border-color: rgba(61, 81, 112, 0.5);
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  color: #3D5170;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 10px;
  padding-top: 10px;
}