// .pagination__container {
//   margin: 20px 0px;
// }
.pagination__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.notSelectedPageStyle {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  border-width: 1.45px;
  border-style: solid;
  border-color: #3D5170;
  padding: 4px 8px;
}

.pagination__button {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  border-width: 1.45px;
  border-style: solid;
  border-color: #3D5170;
  background-color: #3D5170;
  color: #fff;
  padding: 4px 6px;
}

.pagination__button-white {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  font-weight: 700;
  font-size: 12px;
  border-width: 1.48px;
  border-style: solid;
  border-color: #3D5170;
  background-color: #fff;
  color: #3D5170;
  padding: 4px 6px;
}

.pagination__pages {
  font-family: 'Open Sans', sans-serif !important;
  color: #3D5170;
}

.selectedPageStyle {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  border-width: 1.45px;
  border-style: solid;
  border-color: #3D5170;
  background-color: #3D5170;
  color: #fff;
  padding: 4px 8px;
}

.pagination__end-value-container {
  display: inline-block;
}

li a {
  color: #3D5170;
  font-family: 'Open Sans', sans-serif !important;
  
  &:hover {
    color: red;
  }
}

.pagination__pages {
  margin: 0 10px;
}

.u-margin-right-40 {
  margin-right: 40px;
}

