.Profile-header {
  border-bottom-width: thin;
  border-color: rgba(61, 81, 112, 0.5);
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  color: #3D5170;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 700;
}

.Profile-header-sub {
  color: #78869B;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 10.5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  text-transform: uppercase;
}

.Profile-desc {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif !important;
  color: rgb(61, 81, 112);
  font-weight: 600;
}

.Profile-container {
  padding-bottom: 13px;
}

.dashboard__card-widget {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dashboard__total {
  display: flex;
  margin-top: -15px;

  &.dashboard__total--area {
    margin-top: -25px;
  }
}

.dashboard__total-stat {
  font-size: 25px;
  height: 24px;
  margin-right: auto;
  margin-top: auto;
  padding-right: 10px;
  line-height: 24px;
  color: #3D5170;
  font-weight: 400;
}

.unit {
  font-size: 16px;
}

.unit__desc {
  font-size: 11px;
  color: #4f6991;
}

.profilecard__link a{
  font-size: 12px;
  text-decoration: underline;
  color: #2d9afb;
  display: block;
  
  &:hover  {
    color: darken(#4EAAFC, 20%);
  }
}

.unit__desc--inline {
  display: inline;
}
.unit__desc--block {
  display: block;
  padding-top: 5px;
}

.dashboard__card-widget-large {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.profile-image-container {
  height: 100px;
  width: 100px;
  margin-bottom: 35px;
  margin-top: 15px;
  
  img {
    border-radius: 5px;
  }
}

.u-sticky {
  position: sticky;
  top: 90px;
  height: 620px;
}