.headerCell {
  color: #425A70;
  font-weight: 600;
  font-size: 12px;
}

.left-spacing {
  padding-left: 32px;
}

.table__container {
  background: white !important;
  font-family: 'Open Sans', sans-serif !important;
}

.table__font .fnt-fam_tawojy {
  font-family: "Open Sans", sans-serif !important;
}

@media screen and (min-width: 576px) {
  .table__container__wrap {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 90px;
  }
}

.searchTable__search-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: flex-end;
  align-items: center;
}

.searchTable__search-text {
  display: inline;
  font-size: 14px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif !important;
  color: #425A70;
}

.searchTable__search-input {
  display: inline;
  font-size: 13px;
  height: 30px;
  width: 180px;
  color: #425A70;
  font-family: "Open Sans", sans-serif;
  border-width: thin;
  border-style: solid;
  border-color: #bdc4ce;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 0.7px;
  
  &:focus{
    outline: none;
  }
}
